<%- include('partials/header') %>
    <main>
        <h1><%= title %></h1>
        
        <p>Here are a few of our partner organisations:</p>
        <ul>

            <% organisations.forEach(organisation => { %>
                <li><img src="/images/<%= organisation.logo_filename %>" alt="<%= organisation.name %> logo"><strong><%= organisation.name %></strong>: <%= organisation.contact_email %></li>
            <% }); %>
        </ul>
    </main>

<%- include('partials/footer') %>